body{
background-color: black;
 margin: 0;   

}

#nav ul{ list-style-type: none;
    height: 20px;
    width: 95%;
    background-color: black;
    
    }
    
  #nav a{
    
    color:rgb(248, 248, 248);
    size :15%;
    float: left;
    color:yellow;
    margin-left: 20px;
    
    height: 1px;
    width: 12%;
    text-align: center;
    text-decoration: none;
    font-family: "Lucida Console", "Courier New", monospace;
    }
    #nav a:hover{
        font-style: bold;
        color: blue;
       
      }

/* Tha main div of login form or signup form*/
#form1{
   border:3px solid;
   border-color: white;
   width: 25%;
   background-color:black;
   position: center;
   margin: auto;
}
#form1 form{
    text-align: center;
    font-family: "Lucida Console", "Courier New", monospace;
    color:yellow;
}
a{
    color:yellow;
}


  .footer{
 
  
    height: 300px;
    width: 100%;
     background-color: rgb(25, 6, 6);
   }
   .footer p {
     color:rgb(255, 255, 255);
     font-family: 'Brush Script MT', cursive;
     text-align: center;
   }
   .footer a {
     float: left;
   }
   .fa {  
     padding: 20px;  
   border:3px solid;
   border-radius: 10%;
   border-color: yellow;
   text-align: center;  
   margin: 5px 2px; 
     font-size: 30px;  
     width: 25px;  
     margin-left: 15%;
    
   }  
   h3{
     margin-left: 40%;
   }
   .fa-facebook {  
     background: black;
     color: white;  
   }  
   .fa-twitter {  
     background: black; 
     color: white;  
   }  
   
   .fa-instagram {  
     background: black;
     color: white;  
   }  
   .fa-snapchat-ghost {  
     background: black; 
     color: white;  
     text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
   }  
   
   .fa:hover {  
       opacity: 0.9;  
   }  
   